@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

/*Reset*/
body {
  margin: unset;
  padding: unset;
}

img {
  margin: unset;
  padding: unset;

  vertical-align: top;
}

h2,
h3,
ul,
p {
  margin: unset;
  padding: unset;

  font-size: unset;
  font-weight: unset;
  font-style: unset;
  font-family: unset;
}

li {
  list-style-type: none;
}

a {
  text-decoration: unset;
  color: unset;
}
/*Variables*/
:root {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 13pt;
  color: var(--color-gray-40);
  line-height: 1.45;
  box-sizing: border-box;

  --color-white: #fff;
  --color-gray-footer: #f5f5f5;
  --color-gray-10: #d8d8d8;
  --color-gray-20: #666666;
  --color-gray-30: #7c7c7c;
  --color-gray-40: #484848;
  --color-black-10: #171717;
  --color-black-20: #111;
  --color-primary: #0055a5;

  word-break: keep-all;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.l_wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.header-bar {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-select {
  display: flex;
  gap: 50px;
}

.select-section {
  padding: 0 0 0 5px;

  display: flex;
  align-items: center;

  position: relative;
}

.select-section.language::after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background-color: var(--color-gray-10);

  position: absolute;
  top: 50%;
  right: -25px;
  transform: translate(0, -50%);
}

.select-title {
  padding-right: 8px;
}

.banking .select-title {
  color: var(--color-primary);
}

.navbar-content {
  display: flex;
  align-items: center;
}
.nav-items {
  width: 89.2%;

  font-size: 19px;
  color: var(--color-black-10);
  padding: 10px 0 13px;

  display: flex;
  justify-content: space-between;
}
.nav-menu {
  margin-left: auto;
}
.banner {
  width: 100vw;
}

.card {
  margin-top: 30px;
  border: 3px solid var(--color-primary);
  border-radius: 30px 30px 60px 30px;
  box-shadow: 10px 2px 12px 1px rgba(0, 0, 0, 0.2);
  display: flex;

  background-color: var(--color-primary);
  overflow: hidden;
}

.card-main {
  flex-basis: 68.8%;
  flex-shrink: 0;

  background-color: white;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 60px;
}

.card-title {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: bold;

  padding-bottom: 12px;
}

.card-content {
  display: flex;
  gap: 40px;
}

.content-image {
  width: 386px;
  border-radius: 30px;
}

.content-sub {
  margin-top: 15px;
}

.content-sub li:nth-child(1) > p {
  background-color: var(--color-primary);
  margin-bottom: 22px;
  border-radius: 4px;
  width: fit-content;

  padding: 1.5px 11px;

  color: white;
}

.content-sub li:nth-child(2) > a > p:first-of-type {
  font-size: 35px;
  line-height: 1.5;
}
.content-sub li:nth-child(2) > a > p:last-of-type {
  font-size: 14px;
  line-height: 1.75;
  font-weight: bold;
  margin: 24px 0;
}

.content-sub li:nth-child(3) {
  margin: 14px 0;
  font-size: 14px;
}

.card-sub {
  flex-grow: 1;
  position: relative;
}

.card-sub::before {
  content: "더보기";
  color: white;
  font-size: 25px;
  letter-spacing: -1px;

  position: absolute;
  top: 20px;
  right: 70px;
}

.sub-content {
  padding: 90px 60px 50px 60px;
  color: white;
  word-break: break-all;
}

.sub-content li {
  padding: 0 0 40px 10px;
}
.sub-content li > a > p:first-child {
  font-size: 20px;
  line-height: 1.6;
  max-width: 78%;
}

.sub-content .date {
  font-size: 14px;
  padding-top: 10px;
}

.footer {
  background-color: var(--color-gray-footer);
  height: 248px;
  height: 248px;
  height: 248px;
  height: 248px;
}
